body {
    background-color: var(--ring-popup-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);

    padding: 0 !important;
    /*overflow: hidden !important;*/
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

/*body:hover {*/
/*    overflow-y: scroll !important;*/
/*}*/

body::-webkit-scrollbar {
    display: none !important;
}

.slack-info {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.name-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.img-icon {
    vertical-align: bottom;
}

.loader {
    padding: 5px;
    padding-left: 15px;
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}
